<div class="container-fluid">
    <ul class="cinemas-sort">
        <li>
            <div class="cinemas-text">Search:</div>
        </li>
        <li>
            <label>
                <input ng-model="$ctrl.query"/>
            </label>
        </li>
    </ul>
    <ul class="cinemas">
        <li ng-repeat="cinema in $ctrl.cinemas | filter:$ctrl.query" class="cinema-mini-stats">
            <a href="#!/movie-theaters/{{cinema.id}}">
                <p class="cinema-name">{{cinema.name}}</p>
            </a>
            <p>{{cinema.address}}</p>
            <p>{{cinema.city.name}}</p>
            <p><img ng-src="https://cdn-icons-png.flaticon.com/512/552/552489.png" alt="phone" width="20px" height="20px">
                {{cinema.phone}}</p>
        </li>
    </ul>
</div>