.cinema-stats {
    display: flex;
    padding-left: 0;
    padding-top: 10px;
}

.cinema-stats li + li {
    border-left: 1px solid white;
}

.cinema-stats li {
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
}

.search {
    padding-top: 20px;
    display: flex;
    gap: 15px;
    padding-left: 10px;
}
.search li {
    font-size: 20px;
}

.cinema-events {
    padding: 0;
}

.cinema-movie-with-events {
    height: max-content;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding-left: 10px;
}

.cinema-movie-with-events-poster {
    width: 190px;
    flex-grow: 1;
}

.cinema-movie-stats {
    padding-left: 0;
    padding-right: 15px;
    width: 190px;
    flex-grow: 1;
}

.cinema-movie-name {
    font-size: 27px;
}

.cinema-movie-poster {
    width: 190px;
}

.mini-stats {
    display: flex;
}

.cinema-movie-rooms {
    padding: 0;
    flex-grow: 10;
}

.movie-room-number {
    font-weight: bold;
}

.cinema-movie-rooms-stats {
    padding-bottom: 20px;
}

.cinema-movie-rooms-events {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 20px;
}

.cinema-movie-with-events-event {
    flex-grow: 1;
    text-align: center;
}
.cinema-movie-with-events-event button {
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
    padding: 15px 10px 15px 10px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
}

.cinema-movie-with-events-event:hover {
    background-color: black;
}

.cinema-movie-with-events-event:hover a {
    color: white;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.highlight-premium {
    color: gold;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}