<div class="container-fluid">
    <h1>{{$ctrl.info.firstName}} {{$ctrl.info.lastName}} [{{$ctrl.info.userName}}]</h1>

    <ul class="user-stats">
        <li>
            <p>{{$ctrl.info.address ? $ctrl.info.address : "Unknown address"}}</p>
        </li>
        <li>
            <p>
                <img ng-src="https://cdn-icons-png.flaticon.com/512/1068/1068530.png" alt="City" width="20px"
                     height="20px"/>
                {{$ctrl.info.city.name}}
            </p>
        </li>
        <li>
            <p>
                <img ng-src="https://cdn-icons-png.flaticon.com/512/726/726623.png" alt="Email" width="20px"
                     height="20px"/>
                {{$ctrl.info.email}}
            </p>
        </li>
        <li>
            <p>
                <img ng-src="https://cdn-icons-png.flaticon.com/512/552/552489.png" alt="phone" width="20px"
                     height="20px">
                {{$ctrl.info.phone}}
            </p>
        </li>
        <li>
            <a href="#!/me/edit">Edit page</a>
        </li>
    </ul>
    <p id="reg-date">
        Member from: {{$ctrl.info.registrationDateTime}}
    </p>
    <ul class="user-stats-1">
        <li>
            <p>
                {{$ctrl.info.userCategory.name}}
            </p>
        </li>
        <li>
            <p>
                {{$ctrl.info.userCategory.discountPercentage}}% OFF
            </p>
        </li>
        <li ng-if="$root.isAdmin == true">
            <p>
                ADMIN
            </p>
        </li>
    </ul>
    <h2 id="weather_header">Today</h2>
    <ul class="weather-stats">
        <li>
            <ul class="inner-stats">
                <li>
                    <img ng-src="{{$ctrl.getWeatherImage($ctrl.info.weather.cloudiness)}}" alt="Weather" width="170px"
                         height="170px"/>
                </li>
                <li>
                    {{$ctrl.info.weather.temperature}}°C
                </li>
                <li>
                    MIN: {{$ctrl.info.weather.minTemperature}}°C
                </li>
                <li>
                    MAX: {{$ctrl.info.weather.maxTemperature}}°C
                </li>
                <li>
                    Feels like: {{$ctrl.info.weather.feelsLike}}°C
                </li>
            </ul>
        </li>
        <li>
            <ul class="inner-stats">
                <li>
                    <img ng-src="https://cdn-icons-png.flaticon.com/512/2903/2903592.png" alt="Humidity" width="170px"
                         height="170px"/>
                </li>
                <li>
                    {{$ctrl.info.weather.humidity}}%
                </li>
            </ul>
        </li>
        <li>
            <ul class="inner-stats">
                <li>
                    <img ng-src="https://cdn-icons-png.flaticon.com/512/2204/2204367.png" alt="Wind" width="170px"
                         height="170px"/>
                </li>
                <li>
                    {{$ctrl.info.weather.windSpeed}} km/hr
                </li>
                <li>
                    Degree: {{$ctrl.info.weather.windDegree}}°
                </li>
            </ul>
        </li>
        <li>
            <ul class="inner-stats">
                <li>
                    <img ng-src="https://cdn-icons-png.flaticon.com/512/2910/2910189.png" alt="Visibility" width="170px"
                         height="170px"/>
                </li>
                <li>
                    {{$ctrl.info.weather.visibility}} m
                </li>
                <li>
                    Pressure: {{$ctrl.info.weather.pressure}} hPa
                </li>
            </ul>
        </li>
    </ul>
    <ul class="user-control-buttons">
        <li class="small-li-button">
            <a href="#!orders/me" class="my-orders-link">My Orders</a>
        </li>
        <li class="big-li-button" ng-if="$root.isAdmin == true">
            <a href="#!/admin/users" class="admin-users-link">Statistics</a>
        </li>
        <li class="small-li-button">
            <button class="logout" ng-click="logout()">Log out</button>
        </li>
    </ul>
</div>
