.movie-stats {
    display: flex;
    padding-left: 0;
    padding-top: 10px;
}

.movie-stats li + li {
    border-left: 1px solid white;
}

.movie-stats li {
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
}

.description {
    padding-top: 10px;
    font-size: 20px;
}

.movie-main-image {
    height: 400px;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #00eaff;
}

.genres {
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 20px;
}

.genres li {
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
    color: black;
    font-weight: bold;
}

.movie-thumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.movie-thumbs img {
    height: 100px;
}

.movie-thumbs li {
    cursor: pointer;
    display: inline-block;
    margin: 1em;
    border: 2px solid #00eaff;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}