body {
    padding: 0;
    margin: 0;
    background-image: url("/resources/images/wallpaperflare.com_wallpaper_compressed.jpg");
    background-size: cover;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.container-fluid select, .container-fluid input {
    color: black;
}

h1 {
    border-bottom: 1px solid gray;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

img {
    border-radius: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}