<ul class="rows">
    <li ng-repeat="seatsInRow in $ctrl.seats" class="row">
        <ul class="seats">
            <li ng-repeat="seat in seatsInRow" class="seat">
                <button ng-click="addOrRemoveSeat(seat.id)"
                        ng-class="{'chosen-seat': $ctrl.chosenSeatsIds.includes(seat.id) == true,
                        'taken-seat': $ctrl.boughtTicketsIds.includes(seat.id) == true}">
                    {{seat.placeNumber}}
                </button>
            </li>
        </ul>
    </li>
</ul>
<div class="choose-button">
    <button ng-click="submitTickets()">Save</button>
</div>
