<form ng-submit="submitLoginForm()">
    <ul id="login_ul">
        <li>
            <div id="username_header">Username</div>
            <label for="username"></label><input type="text" placeholder="Enter username" id="username"
                                                 ng-model="username" required>
        </li>
        <li>
            <div id="password_header">Password</div>
            <label for="password"></label><input type="password" placeholder="Enter password" id="password"
                                                 ng-model="password" required>
        </li>
        <li>
            <button type="submit" id="login_button">Login</button>
        </li>
    </ul>
</form>
<a href="#!/signup" id="signup">Sign up</a>