<div id="signup_page">
    <form ng-submit="submitSignupForm()" id="signup_form">
        <ul id="signup_ul">
            <li>
                <div class="field_header">First name</div>
                <label for="firstName">
                    <input type="text" placeholder="Enter first name" id="firstName" ng-model="firstName" required>
                </label>
            </li>
            <li>
                <div class="field_header">Last name</div>
                <label for="lastName">
                    <input type="text" placeholder="Enter last name" id="lastName" ng-model="lastName" required>
                </label>
            </li>
            <li>
                <div class="field_header">Username</div>
                <label for="userName">
                    <input type="text" placeholder="Enter user name" id="userName" ng-model="userName" required>
                </label>
            </li>
            <li>
                <div class="field_header">Email</div>
                <label for="email">
                    <input type="email" placeholder="Enter email" id="email" ng-model="email" required>
                </label>
            </li>
            <li>
                <div class="field_header">Phone</div>
                <label for="phone">
                    <input type="text" placeholder="Enter phone" id="phone" ng-model="phone" required>
                </label>
            </li>
            <li>
                <div class="field_header">Password</div>
                <label for="password">
                    <input type="password" placeholder="Enter password" id="password" ng-model="password" required>
                </label>
            </li>
            <li>
                <div class="field_header">Address</div>
                <label for="address">
                    <input type="text" placeholder="Enter address" id="address" ng-model="address">
                </label>
            </li>
            <li>
                <div class="field_header">City</div>
                <label>
                    <select ng-model="userCitySelect" class="select-city">
                        <option ng-repeat="city in $ctrl.cities" value="{{city.id}}">{{city.name}}</option>
                    </select>
                </label>
            </li>
            <li>
                <div class="field_header">Birthdate</div>
                <label for="birthdate">
                    <input type="date" placeholder="Enter date" id="birthdate" ng-model="birthDate">
                </label>
            </li>
            <li>
                <div class="field_header">User category</div>
                <label>
                    <select ng-model="userCategorySelect" class="select-user-cat">
                        <option ng-repeat="cat in $ctrl.userCategories" value="{{cat.id}}">{{cat.name}}</option>
                    </select>
                </label>
            </li>
            <li>
                <button type="submit" id="signup_button">Register</button>
            </li>
            <li>
                <a href="#!/login" id="login">Log in</a>
            </li>
        </ul>
    </form>
</div>